cmake-build-debug
cmake-build-release
darwin64ClangDPInt32Opt
polyMesh
blockMeshDict
build
case
.idea
*.npy
*.json
[1-9]*
0.*
.DS_Store
processor*
cmake-build-debug
cmake-build-release
eps
alpha.wetting
tmp
